.footer_Main{

    width: 100%;
    
    display: flex;
    background-color: #34373c;
    margin-top: auto;


}

.footer_Container1{

    color: #ffffff;
    width: 50%;
    text-align: center;
}

.footer_Container2{
    width: 50%;
    list-style-type: none;
}





.footer_link1{
    color:#ffffff;
    text-decoration: none;
}

.footer_link2{
    color:#ffffff;
    text-decoration: none;
}

.footer_link3{
    color:#ffffff;
    text-decoration: none;
}

.footer_link4{
    color:#ffffff;
    text-decoration: none;
}


