body {
    display: grid;
    width:50vw ;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: auto;
  }
  
 
  
  header {
    background: lightpink;

  }
  
  main {
    background: coral;
  }
  
  footer {
    background: wheat;

    text-align: center;
  }